@use '../abstracts/' as abs;

.dds {
  background: transparent;
  border: 1px solid abs.$light;
  border-radius: 1rem;
  color: abs.$light;
  border: 1px solid;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 1rem;
  transition: 250ms ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
