@use '../abstracts/' as abs;

.answer {
  background: transparent;
  border: 1px solid abs.$light;
  border-radius: 3rem;
  color: abs.$light;
  border: 1px solid;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2rem;
  transition: 250ms ease;

  &:hover {
    background: abs.$cta;
    color: abs.$dark;
  }

  option {
    background-color: abs.$dark;
    color: abs.$light;
  }
}
