@use './src/styles/abstracts' as abs;

body {
  background: abs.$dark;
  color: abs.$light;
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;

  @include abs.media('mobile') {
    font-size: 5.6rem;
  }
}

p {
  font-size: 1.4rem;

  @include abs.media('mobile') {
    font-size: 1.6rem;
  }
}
