@use './src/styles/abstracts' as abs;

.game-options-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .btn-wrapper {
    padding: 1.5rem 1.5rem;

    @include abs.media('mobile') {
      padding: 1.5rem 6rem;
    }
  }

  .options {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: space-between;
    margin-top: 2.5rem;
    padding: 2rem 1.5rem;

    @include abs.media('mobile') {
      flex-direction: row;
    }
  }
}
